@model RawnaqProject.Models.items
@{
    ViewData["Title"] = "Edit";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<div class="modal fade" id="editModal-@Model.Id" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Item</h4>
            </div>
            <div class="modal-body">
                <form asp-action="Edit" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />

                    <div class="form-group row">
                        <label asp-for="name" class="col-sm-3 col-form-label text-left"></label>
                        <div class="col-sm-9">
                            <input asp-for="name" class="form-control" />
                            <span asp-validation-for="name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="description" class="col-sm-3 col-form-label text-left"></label>
                        <div class="col-sm-9">
                            <input asp-for="description" class="form-control" />
                            <span asp-validation-for="description" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="price" class="col-sm-3 col-form-label text-left"></label>
                        <div class="col-sm-9">
                            <input asp-for="price" class="form-control" />
                            <span asp-validation-for="price" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="discount" class="col-sm-3 col-form-label text-left"></label>
                        <div class="col-sm-9">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" asp-for="discount" value="yes" class="form-check-input" /> Yes
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" asp-for="discount" value="no" class="form-check-input" /> No
                                </label>
                            </div>
                            <span asp-validation-for="discount" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="pubdate" class="col-sm-3 col-form-label text-left"></label>
                        <div class="col-sm-9">
                            <input asp-for="pubdate" class="form-control" />
                            <span asp-validation-for="pubdate" class="text-danger"></span>
                        </div>
                        </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-left">Category</label>
                        <div class="col-sm-9">
                            <select class="form-control" asp-for="category">
                                <option value="0">Please select</option>
                                <option value="1">Monthly Box</option>
                                <option value="2">Happiness Boxes</option>
                                <option value="3">Design Your Box</option>
                            </select>
                            <span asp-validation-for="category" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="quantity" class="col-sm-3 col-form-label text-left"></label>
                        <div class="col-sm-9">
                            <input asp-for="quantity" class="form-control" />
                            <span asp-validation-for="quantity" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-left">Image</label>
                        <div class="col-sm-9">
                            <img src="~/images/@Model.imgfile" height="150" class="mb-2" />
                            <input type="file" class="form-control" name="file" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-9 offset-sm-3">
                            <input type="submit" value="Edit" class="btn btn-primary" />
                            <input type="hidden" asp-for="imgfile" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}